@font-face {
    font-family: "Inter"; 
    src: url("fonts/Inter-Regular.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 

@font-face {
    font-family: "Cormorant"; 
    src: url("fonts/CormorantSC-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 
body {
    background: transparent;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Cormorant";
}

div {
    padding: 10px;
}
nav {
    height: 123px;
    padding: 0;
}

footer {
    height: auto;
    min-height: 90px;
    background-color: #7E5288;
}
footer ul li {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Inter;
    color: #FFF;
    font-size: 12px;
}
.main {
    background: #7E5288;
    height: 800px;
}

.img {
    height: 80px;
    margin-left: 40px;
    
}
h1 {
    text-align: center;
    font-family: "Inter";}
.bg {
    background-color: #C2B4C6;
    height: auto;
    min-height: 300px;
}

.inner_box {
    background-color: #FFF;
    border-radius: 30px;
    margin-top: 30px;
    font-family: Inter;
}

.classes_list li{
    list-style-type: none;
    text-align: left;
    margin-top: 20px;
}
.classes_list li a:link {
    text-decoration: none;
    color:black;
    
}

.classes_list li a:visited {
    text-decoration: none;
    color:black;
}

.namebox {
    display:inline;
    display:inline-block;
    margin: 5px;
}

.accounts li{
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
}

a.nav:link {
    text-decoration: none;
    font-family: Inter;
    color: #461352;
    font-size: 24px;
    margin-top: 20px;
}
a.nav:visited {
    text-decoration: none;
    font-family: Inter;
    color: #461352;
    font-size: 24px;
    margin-top: 20px;
}
a.ftr:link {
    text-decoration: none;
    font-family: Inter;
    color: #FFF;
    font-size: 12px;
}
a.ftr:visited {
    text-decoration: none;
    font-family: Inter;
    color: #FFF;
    font-size: 12px;
}

a.add_btn:link {
    text-decoration: none;
    color:#FFF;
    background-color: #461352;
    margin: 20px;
    padding: 5px 20px;
    border-radius: 10px;
}
a.add_btn:visited {
    text-decoration: none;
    color:#FFF;
    background-color: #461352;
    margin: 20px;
    padding: 50px 20px;
    border-radius: 10px;
}
form.authform input{
font-size:14pt
font-family: "Inter";

}
form.regform input{
font-size:14pt
font-family: "Inter";

}