{% extends "base.html" %}

{% block content %}
  <h2>{{ title }} </h2>
  <table width=100% heigth=80% class="class_table">
    
    <tr>
      {% for i in range(5, 12) %}
        <td>
          <span><a href="{{ url_for('paral', num=i)}}">{{i}} Классы</a></span>
        </td>
      {% endfor %}
    </tr>
    {% for class in classes %}
    <tr>
      
        <td>
          <a href="{{ url_for('classes', num=class.id)}}">{{class.class_paral}}{{class.class_name}} класс</a>
        </td>
    </tr>
    {% endfor %}

    
  </table>
    
{% endblock %}