{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-12">
        <div style="position: relative; border: solid 1px #FFF; height:500px; margin: 50px">
          <h2 style="margin-top: 100px; font-size: 48px; color:#FFF">Данный сайт создан с целью....бла, бла, бла</h2>
          <div style="position: relative; width:700px; height:200px; margin: 0 auto; background: #FFF; border-radius: 30px">
              <h3 style="font-size: 48px; margin: 60px; color:#7E5288">Катя Дворянчикова</h3>

          </div>
        </div>
    </div>
  </div>
{% endblock %}