{% extends "base.html" %}
{% block content %}
  <div class="row bg">
    <div class="col-1"></div>
    <div class="col-4 inner_box">
        <img src="{{ url_for('static', filename='user.png')}}" height="50%">
        <div>
          <span class="namebox"><h3>{{ user.username }}</h3></span>
          <span class="namebox"><a href="{{ url_for('edit_data')}}"><img src="{{ url_for('static', filename='edit_btn.png')}}" height="30"></a></span>
        </div>
        
    </div>
    <div class="col-2"></div>
    <div class="col-4 inner_box">
        <h3>Список классов</h3>
        <ul class="classes_list">
          {% for i in range(5, 12) %}
          <li><a href="{{ url_for('classes', num=i)}}">{{ i }} классы</a></li>
          {% endfor %}
        </ul>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row bg">
    <div class="col-1"></div>
    <div class="col-4 inner_box">
        <h3>Контактные данные</h3>
        <ul class="classes_list">
          <li><h4>Почта</h4></li>
          <li> {{ user.email }}<a href="{{ url_for('edit_data')}}"><img src="{{ url_for('static', filename='edit_btn.png')}}" height="20"></a></li>
          <li><h4>Номер телефона</h4></li>
          <li> {{user.phone}} <a href="{{ url_for('edit_data')}}"><img src="{{ url_for('static', filename='edit_btn.png')}}" height="20"></a></li>
        </ul>
    </div>
    <div class="col-2"></div>
    <div class="col-4 inner_box">
      <h3>Добавить аккаунт</h3>
      <ul class="accounts">

        <li><a href="" class="add_btn">Учитель</a></li>
        <li><a href="" class="add_btn">Ученик</a></li>
      </ul>
      <a href="{{ url_for('dashboard')}}" class="admin__link">
        <p>Вход в админпанель</p>
        <i class="bi bi-speedometer"></i>
      
    </div>
    <div class="col-1"></div>
  </div>
{% endblock %}